.div-top {
  background-color: #000;
  color: #fff;
  font-weight: 300;

  /* position */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}

.col_1 {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.col_1 p {
  max-width: 350px;
}

.col_2 {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

.col_2 a {
  text-decoration: none;
  color: #fff;
}
.col_3 {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col_3 > * {
  margin-bottom: 15px;
}

.col_1,
.col_2,
.col_3 {
  padding: 10px;
}

.social-icons {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.social-icons > * {
  cursor: pointer;
}

.div-bottom {
  text-align: center;
  background-color: #2db9a6;
  color: #fff;
  font-weight: 400;
  padding: 10px;
}

.input-box {
  border: 0;
  outline: none;
  padding: 10px;
}

.div-subscribe button {
  padding: 10px;
  outline: none;
  border: 0;
  color: white;
  background-color: #2db9a6;
}

/* Media Queries */
@media screen and (max-width: 630px) {
  .div-top {
    justify-content: space-between;
  }
  .col_1,
  .col_2 {
    flex-basis: 50%;
  }
  .col_3 {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 500px) {
  .col_1,
  .col_2,
  .col_3 {
    flex-basis: 100%;
    margin-top: 30px;
  }

  .input-box {
    padding: 5px;
  }

  .div-subscribe button {
    padding: 5px;
  }

  .sub-heading {
    align-self: flex-start;
  }
}
